//通用字体大小
// font-size=>fs

.fs16 {
    font-size: computed(16);
}


.fs16B {

    font-size: computed(16);
    font-weight: bold;

}

.fs20 {
    font-size: computed(20);
}

.fs24 {
    font-size: computed(24);
}

.fs24B {

    font-size: computed(24);
    font-weight: bold;

}

.fs26M {
    font-size: computed(24);
    font-weight: 500;
}

.fs26 {
    font-size: computed(26);
}

.fs26B {

    font-size: computed(26);
    font-weight: bold;

}

.fs28 {
    font-size: computed(28);
}

.fs28B {
    font-size: computed(28);
    font-weight: bold;
}

.fs30 {
    font-size: computed(30);
}

.fs30B {
    font-size: computed(30);
    font-weight: bold;
}

.fs32 {
    font-size: computed(32);
}

.fs32B {
    font-size: computed(32);
    font-weight: bold;
}

.fs36 {
    font-size: computed(36);
}

.fs36B {
    font-size: computed(36);
    font-weight: bold;
}

.fs40 {
    font-size: computed(40);
}

.fs40B {
    font-size: computed(40);
    font-weight: bold;
}

.fs48 {

    font-size: computed(48);
}

.fs48B {
    font-size: computed(48);
    font-weight: bold;
}

.fs60 {
    font-size: computed(60);
    font-family: PingFang-SC-Medium;
    font-weight: 500;
}