//通用字体大小
// font-size=>fs

.fs16 {
    font-size: computed(16);
}

.fs20 {
    font-size: computed(20);
}

.fs24 {
    font-size: computed(24);
}

.fs26 {
    font-size: computed(26);
}

.fs28 {
    font-size: computed(28);
}

.fs28B {
    font-size: computed(28);
    font-weight: bold;
}

.fs30 {
    font-size: computed(30);
}

.fs30B {
    font-size: computed(30);
    font-weight: bold;
}

.fs32B {
    font-size: computed(32);
    font-weight: bold;
}

.fs36 {
    font-size: computed(36);
}

.fs48 {

    font-size: computed(48);
}