// 百分比宽度
.h10 {
    height: 10%;
}

.h20 {
    height: 20%;
}

.h25 {
    height: 25%;
}

.h30 {
    height: 30%;
}

.h33 {
    height: 33.33%;
}

.h40 {
    height: 40%;
}

.h45 {
    height: 45%;
}

.h50 {
    height: 50%;
}

.h75 {
    height: 75%;
}

.h100 {
    height: 100%;
}

.h100px {
    height: computed(100);
}