// 上下外边距
.mgTb20 {
    margin-top: computed(20) !important;
    margin-bottom: computed(20) !important;
}

// 上外边距
.mgT10 {
    margin-top: computed(10) !important;
}

.mgT20 {
    margin-top: computed(20) !important;
}

.mgT30 {
    margin-top: computed(30) !important;
}

// 下外边距

.mgB10 {
    margin-bottom: computed(10) !important;
}

.mgB30 {
    margin-bottom: computed(30) !important;
}


// 左外边距
.mgL20 {
    margin-left: computed(20) !important;
}

.mgL30 {
    margin-left: computed(30) !important;
}

// 右外边距
.mgR10 {
    margin-right: computed(10) !important;
}

.mgR30 {
    margin-right: computed(30) !important;
}