// 上下外边距
.mgTb10 {
    margin-top: computed(10) !important;
    margin-bottom: computed(10) !important;
}

.mgTb20 {
    margin-top: computed(20) !important;
    margin-bottom: computed(20) !important;
}

.mgTb30 {
    margin-top: computed(30) !important;
    margin-bottom: computed(30) !important;
}

// 左右外边距
.mgLr10 {
    margin-left: computed(10) !important;
    margin-right: computed(10) !important;
}

.mgLr20 {
    margin-left: computed(20) !important;
    margin-right: computed(20) !important;
}

.mgLr30 {
    margin-left: computed(30) !important;
    margin-right: computed(30) !important;
}

// 上外边距
.mgT10 {
    margin-top: computed(10) !important;
}

.mgT20 {
    margin-top: computed(20) !important;
}

.mgT30 {
    margin-top: computed(30) !important;
}

.mgT50 {
    margin-top: computed(50);
}

// 下外边距
.mgB8 {
    margin-bottom: computed(8) !important;
}

.mgB10 {
    margin-bottom: computed(10) !important;
}

.mgB15 {
    margin-bottom: computed(15) !important;
}

.mgB20 {
    margin-bottom: computed(20) !important;
}

.mgB30 {
    margin-bottom: computed(30) !important;
}


// 左外边距
.mgL10 {
    margin-left: computed(10) !important;
}

.mgL20 {
    margin-left: computed(20) !important;
}

.mgL30 {
    margin-left: computed(30) !important;
}

// 右外边距
.mgR10 {
    margin-right: computed(10) !important;
}

.mgR20 {
    margin-right: computed(20) !important;
}

.mgR30 {
    margin-right: computed(30) !important;
}