.pd10 {
    padding: computed(10) !important;
}

.pd30 {
    padding: computed(30) !important;
}

.pdTb10 {
    padding-top: computed(10) !important;
    padding-bottom: computed(10) !important;
}

.pdTb20 {
    padding-top: computed(20) !important;
    padding-bottom: computed(20) !important;
}

.pdTb30 {
    padding-top: computed(30) !important;
    padding-bottom: computed(30) !important;
}

.pdLr20 {
    padding-left: computed(20) !important;
    padding-right: computed(20) !important;
}

.pdLr30 {
    padding-left: computed(30) !important;
    padding-right: computed(30) !important;
}

//下内边距

.pdB20 {
    padding-bottom: computed(20) !important;
}
.pdB30 {
    padding-bottom: computed(30) !important;
}

// 左内边距
.pdL10 {
    padding-left: computed(10) !important;
}

.pdL20 {
    padding-left: computed(20) !important;
}

.pdL30 {
    padding-left: computed(30) !important;
}
