.pd0 {
    padding: 0 !important;
}

.pd5 {
    padding: computed(5) !important;
}

.pd10 {
    padding: computed(10) !important;
}

// 内边距
.pd20 {
    padding: computed(20) !important;
}

.pd30 {
    padding: computed(30) !important;
}

// 上下内边距
.pdTb2 {
    padding-top: computed(2) !important;
    padding-bottom: computed(2) !important;
}

.pdTb2 {
    padding-top: computed(2) !important;
    padding-bottom: computed(2) !important;
}

.pdTb10 {
    padding-top: computed(10) !important;
    padding-bottom: computed(10) !important;
}

.pdTb20 {
    padding-top: computed(20) !important;
    padding-bottom: computed(20) !important;
}

.pdTb30 {
    padding-top: computed(30) !important;
    padding-bottom: computed(30) !important;
}
.pdTb60 {
    padding-top: computed(60) !important;
    padding-bottom: computed(60) !important;
}

// 左右内边距
.pdLr5 {
    padding-left: computed(5) !important;
    padding-right: computed(5) !important;
}

.pdLr10 {
    padding-left: computed(10) !important;
    padding-right: computed(10) !important;
}

.pdLr20 {
    padding-left: computed(20) !important;
    padding-right: computed(20) !important;
}

.pdLr30 {
    padding-left: computed(30) !important;
    padding-right: computed(30) !important;
}

//上内边距
.pdT10 {
    padding-top: computed(10) !important;
}

.pdT20 {
    padding-top: computed(20) !important;
}

.pdT30 {
    padding-top: computed(30) !important;
}

//下内边距
.pdB10 {
    padding-bottom: computed(10) !important;
}

.pdB20 {
    padding-bottom: computed(20) !important;
}

.pdB30 {
    padding-bottom: computed(30) !important;
}
.pdB60 {
    padding-bottom: computed(60) !important;
}

// 左内边距
.pdL10 {
    padding-left: computed(10) !important;
}

.pdL20 {
    padding-left: computed(20) !important;
}

.pdL30 {
    padding-left: computed(30) !important;
}

// 右内边距
.pdR10 {
    padding-right: computed(10) !important;
}

.pdR20 {
    padding-right: computed(20) !important;
}

.pdR30 {
    padding-right: computed(30) !important;
}